.player-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F5BD7C;
    border: 5px solid transparent;
    background:linear-gradient(to bottom, #F5BD7C,#BA121E,#F5BD7C );
    filter: blur(3px);
    opacity: 0.8;
}

.player-container.active {
    background: unset;
    filter: blur(0px);
    opacity: 1;
    background:linear-gradient(to bottom, #d50D7C,#7A121E );
    background:linear-gradient(to bottom, #F5BD7C,#BA121E,#F5BD7C );
    border: 5px solid #B2FFA9;

}

.player-container img {
    width: 100px;
}

.winner-container {
    height: 10%;
}